* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
}

h1 {
  color: #e53170;
  text-align: center;
  padding: 30px;
}

h3 {
  color: white;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 8px;
}
p {
  margin-top: 10px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  float: left;
  vertical-align: middle;
  margin-right: 15px;
}
a {
    display: block;
    color: #1D90FF;
    text-decoration: none;
    margin-top: 8px;
  }
  
  span {
    color: white;
}  
.float-left {
  float: left;
}
    
.clearfix{
    content:"";
    display: table;
    clear: both;
}

/*  Contenitore delle box*/
.container {
  width: 68%;
  max-width: 1400px;
  margin: 0 auto;
}
/* abbiamo preso il 100%del nostro .Container */

.contenitore {
  margin-top: 30px;
  width: 100%;
  
}
/* abbiamo fatto il 100% del width del CONTENITORE / 3 che sarebbero i box in fila 
  viene 33% da qui dobbiamo levare -1% per dare spazio al MARGIN                  */

.box {
  height: 100px;
  background-color: black;
  margin-top: 50px;
  width: 31%;
  margin: 1%;
  
}



