* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
}

h1 {
  color: #e53170;
  text-align: center;
  padding: 30px;
  font-size: 2.5rem;
}

h3 {
  color: white;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 8px;
}
p {
  margin-top: 10px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  float: left;
  vertical-align: middle;
  margin-right: 15px;
}
a {
  display: block;
  color: #1d90ff;
  text-decoration: none;
  margin-top: 8px;
}

span {
  color: white;
}
.float-left {
  float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*  Contenitore delle box*/
.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
/* abbiamo preso il 100%del nostro .Container */
/* abbiamo fatto il 100% del width del CONTENITORE / 3 che sarebbero i box in fila 
  viene 33% da qui dobbiamo levare -1% per dare spazio al MARGIN                  */

.box {
  background-color: black;
  width: calc(100% / 3 - 30px);
  margin: 40px 15px 30px 15px ;
  min-width: 350px;
  
  
}
